.momo-logo {
  border-radius: 5px;
  line-height: 0;
}
.navbar-search {
  position: relative;
  width: 100% !important;
  .link-absolute {
    z-index: 50;
  }
}

.link-absolute {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.navbar-bar {
  i {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    padding: 1px 2px;
    box-sizing: content-box;
  }
}

.single {
  background: white;
}

.active-state {
  .card {
    transform: scale(0.95);
  }
}

.swiper-pagination-white {
  .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
  }
}

.home-nav {
  display: block;
  background: white;
  white-space: nowrap;
  font-size: 0;
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid gray("200");
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
  .home-nav-item:first-child {
    margin-left: 5px;
  }

  .home-nav-item:last-child {
    margin-right: 5px;
  }
}

.home-nav-item {
  width: 70px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  padding: 0 5px;
}
.home-nav-icon {
  width: 44px;
  height: 44px;
  margin: 0 auto 5px;
  font-size: 24px;
  color: color("momo");
  fill: color("momo");
  border: 1px solid gray("300");
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .shadow-1;
  img {
    width: 32px;
  }
}

.home-nav-link {
  color: gray("900");

  &.more {
    color: var(--f7-theme-color);
  }
}

.block-title-momo {
  font-size: 18px;
  font-weight: bold;
  color: gray("900");
  margin: 20px 15px 15px;
  text-transform: none;
  line-height: 1.2;
}

.home-banner {
  padding: 15px;
}

.home-nav-cashback {
  display: flex;
  flex-flow: row nowrap;
  white-space: normal;

  .home-nav-item {
    display: block;
    width: 20%;
    min-width: 0;
    flex: 0 0 20%;
  }

  .home-nav-item:first-child {
    margin-left: 0;
  }

  .home-nav-item:last-child {
    margin-right: 0;
  }
}

.home-cashback {
  background: gray("100");
}

.cashback-grid {
  display: flex;
  flex-flow: row wrap;
  padding: 5px 10px;
}

.cashback-item {
  flex: 0 0 33.333%;
  width: 33.3333%;
  min-width: 0;
  padding: 10px 5px;
  position: relative;
}

.cashback-item-img {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.cashback-item-content {
  .name {
    margin: 10px 0 3px;
    font-weight: normal;
  }
  .desc {
    font-size: 12px;
    color: gray("700");
  }
}

.cashback-item-label {
  background: $red;
  color: white;
  padding: 1px 5px 3px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  img {
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
  }
  &:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 5px 0 0;
    border-color: $red transparent transparent transparent;
  }
}

.cashback-hori {
  padding: 0 15px;
  ul {
    padding: 15px 0px;
    margin: 0;
  }
}

.cashback-hori-item {
  padding: 10px;
  border-radius: 5px;
  background: white;
  @extend .shadow-1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.cashback-hori-img {
  width: 52px;
  height: 52px;
  border-radius: 3px;
  border: 1px solid gray("100");
  padding: 3px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cashback-hori-content {
  flex: 1;
  min-width: 0;
  padding: 0 10px;
  .name {
    font-weight: normal;
    margin-bottom: 2px;
    font-size: 15px;
  }
  .desc {
    font-size: 12px;
    color: gray("700");
  }
}

.cashback-hori-number {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px dashed gray("300");
  font-size: 11px;
  line-height: 1.1;
  span {
    font-size: 1.2em;
  }
}

.cashback-search-container {
  padding: 10px 15px;
  display: flex;
  flex-flow: row nowrap;
  background: white;
}

.cashback-search {
  flex: 1;
  padding: 0 30px 0 40px;
  border: 1px solid gray("300");
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  position: relative;
  min-width: 0;

  &:before {
    content: "";
    right: 10px;
    position: absolute;
    top: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: gray("400") transparent transparent transparent;
  }
}
.cashback-search-icon {
  position: absolute;
  left: 5px;
  top: 4px;
}

.cashback-search-btn {
  width: 40px;
  height: 40px;
  border: 1px solid gray("300");
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
  position: relative;

  i {
    font-size: 25px;
    vertical-align: -15%;
  }
  color: color("blue");
}

.list-small {
}

.cashback-popup-swipe-handler {
  --f7-popup-border-radius: 15px 15px 0 0;
  --f7-popup-tablet-border-radius: 15px;
  --f7-page-bg-color: #fff;
  --f7-block-strong-border-color: transparent;
  height: calc(100% - var(--f7-navbar-height) - var(--f7-statusbar-height));
  top: calc(var(--f7-navbar-height) + var(--f7-statusbar-height));
}

.cashback-popup-swipe-handler .page-content {
  padding-top: 16px;
}

.demo-sheet-swipe-to-close,
.demo-sheet-swipe-to-step {
  --f7-sheet-bg-color: #fff;
  --f7-sheet-border-color: transparent;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.swipe-handler {
  height: 16px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  background: #fff;
  cursor: pointer;
  z-index: 10;
}

.bg-light {
  background: gray("100");
}

.swipe-handler:after {
  content: "";
  width: 36px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -3px;
  border-radius: 3px;
  background: #666;
}
.search-show-type {
  display: none !important;
  margin: 0;
}
.hidden-by-searchbar + .search-show-type {
  display: block !important;
}

.search-notfound {
  font-size: 14px;
  text-align: center;
  padding: 30px 15px;
  color: gray("500");
}

.momo-sidebar-cat {
  svg {
    color: color("momo");
  }
}

.list-normal {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 10px;
  }
}
