
.htu-swiper {
  width: 100%;
  height: 100%;
  
  .swiper-slide{
    position: relative;
  }

  .swiper-pagination-fraction{
    bottom: 0;
    padding: 8px 15px;
    //background: rgba(gray("200"),0.9);
    font-size: 13px;
    color: gray("600");
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }
}



.htu-swiper .swiper-slide{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  color: #000
}


.htu-content{
  width: 100%;
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
}



.htu-mockup{
  background: gray("200");
}

.htu-mockup-slider{
  width: 240px;
  height: 387px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7px 15px 0;

  @include media-breakpoint-ip5(){
    width: 200px;
    height: 324px;
    margin: 0 auto;

    padding: 9px 14px 0;
  }
}

.htu-mockup-txt{
  font-size: 16px;

  background: white;

  padding: 30px 20px;

  @include media-breakpoint-ip5(){
    padding: $grid-gutter-width/2;
    font-size: 14px;
  }


  
}

.htu-mockup-body{
  color: gray("600")
}

