.cbs-hero {
  position: relative;
  // padding-bottom: 40px;
}

.cbs-avatar {
  // position: absolute;
  // left: 50%;
  // margin-left: -40px;
  // top: 100%;
  // margin-top: -80px;
}
.cbs-tree {
  padding: 10px 0;
}

.cbs-post {
}

.pron-less {
  position: relative;
  max-height: 200px;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(rgba(255, 255, 255, 0.001), #fff);
    pointer-events: none;
  }
}

.cbs-address-list.media-list {
  .item-link .item-inner {
    &:before {
    }
  }
}

/************** 5. Lists *************/

.post-list .item-content .item-media img {
  border-radius: 5px;
}

.post-list .item-title {
  color: gray("900");
  margin: 0px 0 6px;
  font-weight: 600;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}
.post-list.long-title .item-title {
  -webkit-line-clamp: 3;
}
.post-list .item-subtitle {
  color:  gray("500");

  font-size: 12px;
}




.promo-banner {
	padding: 10px;
	border-radius: 17px;
	position: absolute;
  bottom: 16px;
  left: 16px;
	width: calc(100% - 32px);
	margin: 0 0 0 0;
  background: #eaeaec;
  z-index: 100;
}
.promo-banner img {
	width: 50px;
	height: 50px;
	border-radius: 12px;
}
.promo-banner .link-infos {
	flex: 1;
	padding-left: 15px;
}
.promo-banner .link-title {
	color: #000;
	font-size: 17px;
	font-weight: 500;
}
.promo-banner .link-url {
	color: #545454;
	margin-top: 0;
}
.promo-banner .promo-button {
	background: #565664;
	color: #fff !important;
	display: flex;
	padding: 4px 11px;
	border-radius: 30px;
	font-weight: 700;
	font-size: 15px;
}

.page .promo-banner ~ .page-content {
  padding-bottom: 90px;
}