

.close-button {
	position: fixed;
	z-index: 10;
	display: flex;
	width: 28px;
	height: 28px;
	align-items: center;
	justify-content: center;
	background: #595959;
	border-radius: 20px;
	left: 20px;
	top: 20px;
}
.close-button img {
	width: 16px;
	height: 16px;
}
