
.static-rating{
  display: flex;
  flex-flow: row nowrap;
 
}

.static-rating-item{
  color: gray("300");
  line-height: 0;
  i{
    font-size: 16px;
  }
  &.is-active{
    color: color("yellow")
  }
}