svg:not(:root).svg-inline {
    overflow: visible;
  }
  .svg-inline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    width: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    fill: currentColor;
  
  }