<div class="page">

  <div class="link-block promo-banner">
    <img src="https://static.mservice.io/img/logo-momo.png" alt="">
    <div class="link-infos">
      <div class="link-title">Get your ticket!</div>
      <div class="link-url">50% off today</div>
    </div>
    <a href="#" class="link promo-button">5,49 €</a>
  </div>

  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Quay lại</span>
        </a>
      </div>
      <div class="title">Cashback</div>
    </div>
  </div>



  <div class="page-content ">

    <div class="cbs-hero bg-color-white ">

      <div class="embed-responsive embed-responsive-slider">
        <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190610112959-636957629997230108.jpg"
          class="lazy embed-responsive-img" alt="">
      </div>


    </div>

    <div class="cbs-tree bg-color-white">
      <div class="pron-container balance  ">
        <div class="pron-row ">
          <div class="pron-col auto">


            <div class="izlude-avatar-square cbs-avatar mt-2">
              <img
                data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png"
                class="img-fluid lazy" alt="">
            </div>

          </div>
          <div class="pron-col">

            <div class=" ">
              <h1 class="lutie-article-title mt-0 mb-1">Circle K</h1>

              <div class="lutie-article-sub">
                Chuỗi siêu thị bán lẻ lớn nhất Việt Nam
              </div>


              <div class="payon-inline align-middle mt-2 mb-2">



                <div class="payon-inline-item  mr-0 align-middle">

                  <div class="static-rating">
                    <div class="static-rating-item is-active">
                      <i class="f7-icons">star_fill</i>
                    </div>
                    <div class="static-rating-item is-active">
                      <i class="f7-icons">star_fill</i>
                    </div>
                    <div class="static-rating-item is-active">
                      <i class="f7-icons">star_fill</i>
                    </div>
                    <div class="static-rating-item is-active">
                      <i class="f7-icons">star_fill</i>
                    </div>
                    <div class="static-rating-item">
                      <i class="f7-icons">star_fill</i>
                    </div>
                  </div>


                </div>

                <div class="payon-inline-item align-middle">
                  <div class="cbs-meta lutie-article-meta ">
                    <span>4.5</span> / <i class="f7-icons lutie-inherit">person</i>
                    <small class="ng-binding"> 13</small>
                  </div>
                </div>

                <div class="payon-inline-item lutie-article-meta align-middle">
                  <a class="link popover-open" href="#" data-popover=".popover-reviewstar">Gửi đánh giá</a>
                </div>

              </div>


              <div class="lutie-article-meta">
                <a href=""> <i class="f7-icons lutie-16">placemark_fill</i> 82 địa điểm trong hệ thống </a>
              </div>


            </div>
          </div>
        </div>
      </div>


      <div class="cbs-sale">

      </div>

    </div>


    <div class="card card-outline juno-cbs">

      <div class="card-content card-content-padding">
        <div class="pron-row mb-2 align-items-center no-gutters">
          <div class="pron-col auto">
            <img src="https://momo.vn/styles/desktop/images/cashback/heo-cashback.svg" width="44" class="mr-2" alt="">
          </div>
          <div class="pron-col ">
            <h3 class="mt-0 mb-0 text-momo ">
              Hoàn tiền tại Circle K <strong class="">5%</strong> cùng Ví MoMo
            </h3>
          </div>
        </div>

        <div class="izlude-cbs-sale">
          <div><strong>Chi tiết ưu đãi</strong></div>
          <div>Hoàn tiền 5% trên tổng hoá đơn (Áp dụng từ ngày 08/08/2019).</div><br>
          <div><strong>Điều kiện và điều khoản</strong></div>
          <div>&ensp; • &ensp; Áp dụng cho tất cả các khách hàng có đăng ký ví MoMo và đang liên kết ngân hàng (ngoại
            trừ thẻ thanh toán quốc tế) </div>
          <div>&ensp; • &ensp; Hoàn tiền trên số tiền hoá đơn thanh toán (đã trừ thẻ quà tặng nếu có)</div>
          <div>&ensp; • &ensp; Số tiền được hoàn tối đa vào tài khoản Hoàn tiền là 2.000.000đ/tháng </div>
          <div>&ensp; • &ensp; Mỗi tài khoản Ví MoMo được nhận tối đa 6 lần hoàn tiền/ngày. Tính từ 00h00 đến 23h59
            trong ngày.(Áp dụng từ ngày 09/08/2019)</div>
        </div>

      </div>

      <div class="card-footer link">
        <a href="#" class="link ">Xem thêm thông tin chương trình <i
            class="f7-icons lutie-inherit ml-2">chevron_right</i></a></div>
    </div>

    <h3 class="mt-4 lutie-section-title">
      Thanh toán Circle K bằng Ví MoMo
    </h3>

    <div class="card card-outline juno-cbs">

      <div class="card-content card-content-padding">


        <div class="cbs-post pron-less">
          <p style="text-align: justify;">Bắt đầu từ năm 1951 tại bang Texas, Mỹ, tới nay, <strong>Circle K</strong> đã
            trở thành một trong những thương hiệu cửa hàng tiện lợi uy tín rộng khắp, nổi tiếng vì chất lượng sản phẩm
            và dịch vụ chăm sóc khách hàng tuyệt vời với hơn 16.000 cửa hàng trên toàn thế giới.</p>

          <p style="text-align: justify;">Tại Việt Nam, <a href="https://www.circlek.com.vn/vi/"><strong>Circle
                K</strong></a> chú trọng vào việc phát triển nhanh chóng trong lĩnh vực kinh doanh chuỗi cửa hàng tiện
            lợi theo giấy phép nhượng quyền thương hiệu của Circle K Mỹ. Circle K tự hào là chuỗi cửa hàng tiện lợi quốc
            tế đầu tiên tại Việt Nam.</p>

          <p style="text-align: justify;"><strong>Circle K Việt Nam</strong> hiện đã có hơn 300 cửa hàng tại các thành
            phố lớn như Hà Nội, Hạ Long, Hồ Chí Minh, Vũng Tàu, và sẽ còn tiếp tục phát triển để đáp ứng nhu cầu của
            khách hàng ở khắp mọi nơi.</p>

          <p style="text-align: justify;">Cam Kết Dịch Vụ của Circle K đối với khách hàng được gói gọn trong 4 chữ F
            (4Fs) (Tươi, Thân Thiện, Nhanh, và Đầy Đủ).</p>

          <p style="text-align: justify;">Circle K là một trong những đối tác quan trọng của <a
              href="https://momo.vn/">Ví MoMo</a>. Hiện tại, khách hàng đã có thể <a
              href="https://momo.vn/thanh-toan-momo-circlek">thanh toán bằng Ví MoMo</a> tại các cửa hàng của Circle K,
            góp phần làm cho việc thanh toán trở nên nhanh chóng và tiện lợi hơn bao giờ hết.</p>

        </div>
        <div class="py-3">
          <a href="#" class="col button button-outline border-lightgray popup-open" data-popup=".cbs-present-more">Xem
            chi tiết</a>
        </div>

        <div class="tags">
          <h4 class=" mb-1 mt-2 ">Tags:</h4>
          <ul class="payon-inline mb-0">
            <li class="payon-inline-item">
              <div class="chip chip-outline">
                <div class="chip-label"><a href="/tags/circle-k">Circle K</a></div>
              </div>
              <div class="chip chip-outline">
                <div class="chip-label"><a href="/tags/circle-k">Thanh toán Circle K</a></div>
              </div>

              <div class="chip chip-outline">
                <div class="chip-label"><a href="/tags/circle-k">Momo và Circle K</a></div>
              </div>
              <div class="chip chip-outline">
                <div class="chip-label"><a href="/tags/circle-k">Hoàn tiền Circle K</a></div>
              </div>
            </li>

          </ul>
        </div>

      </div>


    </div>


    <h3 class="mt-4 mb-2 lutie-section-title">
      Cửa hàng
    </h3>


    <div class="pron-container balance">
      <div class="pron-row ">
        <div class="pron-col">
          <a class="geffen-smart-input smart-select smart-select-init" data-open-in="sheet">
            <select name="mac-windows">
              <option label="TP. Hồ Chí Minh" value="number:50" selected="selected">TP. Hồ Chí Minh</option>
              <option label="Hà Nội" value="number:1">Hà Nội</option>
              <option label="Bà Rịa - Vũng Tàu" value="number:49">Bà Rịa - Vũng Tàu</option>
              <option label="Bình Dương" value="number:47">Bình Dương</option>
              <option label="Quảng Ninh" value="number:14">Quảng Ninh</option>
            </select>


            <div class="item-title"></div>

          </a>
        </div>
        <div class="pron-col">
          <a class="geffen-smart-input smart-select smart-select-init" data-open-in="sheet">
            <select name="mac-windows">
              <option label="TP. Hồ Chí Minh" value="number:50" selected="selected">Quận 1</option>
              <option label="Hà Nội" value="number:1">Quận 2</option>
              <option label="Bà Rịa - Vũng Tàu" value="number:49">Quận 3</option>
              <option label="Bình Dương" value="number:47">Quận 4</option>
              <option label="Quảng Ninh" value="number:14">Quận 5</option>
            </select>


            <div class="item-title"></div>

          </a>
        </div>



      </div>
    </div>


    <div class="list media-list my-2 cbs-address-list">
      <ul>
        <li>
          <div class="item-link item-content ">
            <div class="item-media align-self-auto"><img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png"
                class="izlude-avatar-square-md">
            </div>
            <div class="item-inner">

              <div class="pron-row no-gutter">
                <div class="pron-col">
                  <div class="text-truncate text-gray lutie-13">Circle K - 104 Hồ Tùng Mậu</div>
                </div>
                <div class="pron-col auto">
                  <a href="" class="lutie-13"><i class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                </div>
              </div>
              <div class="lutie-14 ">104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-link item-content ">
            <div class="item-media align-self-auto"><img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png"
                class="izlude-avatar-square-md">
            </div>
            <div class="item-inner">

              <div class="pron-row no-gutter">
                <div class="pron-col">
                  <div class="text-truncate text-gray lutie-13">Circle K - 104 Hồ Tùng Mậu</div>
                </div>
                <div class="pron-col auto">
                  <a href="" class="lutie-13"><i class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                </div>
              </div>
              <div class="lutie-14 ">104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-link item-content ">
            <div class="item-media align-self-auto"><img
                src="https://static.mservice.io/placebrand/s/momo-upload-api-190530102333-636948086134202053.png"
                class="izlude-avatar-square-md">
            </div>
            <div class="item-inner">

              <div class="pron-row no-gutter">
                <div class="pron-col">
                  <div class="text-truncate text-gray lutie-13">Circle K - 104 Hồ Tùng Mậu</div>
                </div>
                <div class="pron-col auto">
                  <a href="" class="lutie-13"><i class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                </div>
              </div>
              <div class="lutie-14 ">104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh
              </div>
            </div>
          </div>
        </li>

      </ul>

      <div class="py-3 pron-container bg-white">
        <a href="#" class="col button button-outline border-lightgray">Xem
          thêm</a>
      </div>


    </div>


    <h3 class="mt-4 mb-2 lutie-section-title">
      Hướng dẫn thanh toán
    </h3>



    <div class="list links-list my-2">
      <ul>
        <li><a href="/htu/">3 Bước để quét mã</a></li>
      </ul>
    </div>



    <h3 class="mt-4 mb-2 lutie-section-title">
      Bài viết liên quan
    </h3>


    <div class="list media-list post-list my-2">
      <ul class="">

        <li>
          <a href="/momo-single/">
            <div class="item-content">
              <div class="item-media"><img src="images/thumb-11.jpg" width="100" alt=""></div>
              <div class="item-inner">
                <div class="item-title">Circle K - Cửa hàng tiện lợi quốc tế lớn nhất tại VN chính thức thanh toán bằng
                  MoMo</div>
                <div class="item-subtitle">
                  09/03/2018
                </div>
              </div>
            </div>
          </a>
        </li>

        <li>
          <a href="/momo-single/">
            <div class="item-content">
              <div class="item-media"><img src="images/thumb-11.jpg" width="100" alt=""></div>
              <div class="item-inner">
                <div class="item-title">Circle K - Cửa hàng tiện lợi quốc tế lớn nhất tại VN chính thức thanh toán bằng
                  MoMo</div>
                <div class="item-subtitle">
                  09/03/2018
                </div>
              </div>
            </div>
          </a>
        </li>

        <li>
          <a href="/momo-single/">
            <div class="item-content">
              <div class="item-media"><img src="images/thumb-11.jpg" width="100" alt=""></div>
              <div class="item-inner">
                <div class="item-title">Circle K - Cửa hàng tiện lợi quốc tế lớn nhất tại VN chính thức thanh toán bằng
                  MoMo</div>
                <div class="item-subtitle">
                  09/03/2018
                </div>
              </div>
            </div>
          </a>
        </li>

        <li>
          <a href="/momo-single/">
            <div class="item-content">
              <div class="item-media"><img src="images/thumb-11.jpg" width="100" alt=""></div>
              <div class="item-inner">
                <div class="item-title">Circle K - Cửa hàng tiện lợi quốc tế lớn nhất tại VN chính thức thanh toán bằng
                  MoMo</div>
                <div class="item-subtitle">
                  09/03/2018
                </div>
              </div>
            </div>
          </a>
        </li>


      </ul>
    </div>



    <h3 class="mt-4 mb-2 lutie-section-title">
      Thương hiệu liên quan
    </h3>



    <div class="cashback-hori">
      <div class="cashback-hori-item">
        <a href="/cashback-single/" class="link-absolute"></a>
        <div class="cashback-hori-img">
          <div class="embed-responsive embed-responsive-1by1">
            <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_BaskinRobins.png"
              class="embed-responsive-img lazy" alt="">
          </div>
        </div>

        <div class="cashback-hori-content">

          <div class="name text-truncate">
            Baskin Robbins
          </div>

          <div class="desc text-truncate">
            Tiệm kem Baskin Robbins
          </div>

        </div>

        <div class="cashback-hori-value">
          <div class="cashback-hori-number flex-center text-center">
            <div>
              Hoàn
              <span class="d-block font-weight-bold">47%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="cashback-hori-item">
        <a href="/cashback-single/" class="link-absolute"></a>
        <div class="cashback-hori-img">
          <div class="embed-responsive embed-responsive-1by1">
            <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_BaskinRobins.png"
              class="embed-responsive-img lazy" alt="">
          </div>
        </div>

        <div class="cashback-hori-content">

          <div class="name text-truncate">
            Baskin Robbins
          </div>

          <div class="desc text-truncate">
            Tiệm kem Baskin Robbins
          </div>

        </div>

        <div class="cashback-hori-value">
          <div class="cashback-hori-number flex-center text-center">
            <div>
              Hoàn
              <span class="d-block font-weight-bold">47%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="cashback-hori-item">
        <a href="/cashback-single/" class="link-absolute"></a>
        <div class="cashback-hori-img">
          <div class="embed-responsive embed-responsive-1by1">
            <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_BaskinRobins.png"
              class="embed-responsive-img lazy" alt="">
          </div>
        </div>

        <div class="cashback-hori-content">

          <div class="name text-truncate">
            Baskin Robbins
          </div>

          <div class="desc text-truncate">
            Tiệm kem Baskin Robbins
          </div>

        </div>

        <div class="cashback-hori-value">
          <div class="cashback-hori-number flex-center text-center">
            <div>
              Hoàn
              <span class="d-block font-weight-bold">47%</span>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="popup cbs-present-more">
      <div class="page">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="title">Circle K</div>
            <div class="right"><a href="#" class="link popup-close">Đóng</a></div>
          </div>
        </div>
        <div class="page-content">
          <div class="block">

            <h3 class="mt-0 mb-1 ">
              Thanh toán Circle K bằng Ví MoMo
            </h3>

            <div class="cbs-post">
              <p style="text-align: justify;">Bắt đầu từ năm 1951 tại bang Texas, Mỹ, tới nay, <strong>Circle K</strong>
                đã
                trở thành một trong những thương hiệu cửa hàng tiện lợi uy tín rộng khắp, nổi tiếng vì chất lượng sản
                phẩm
                và dịch vụ chăm sóc khách hàng tuyệt vời với hơn 16.000 cửa hàng trên toàn thế giới.</p>

              <p style="text-align: justify;">Tại Việt Nam, <a href="https://www.circlek.com.vn/vi/"><strong>Circle
                    K</strong></a> chú trọng vào việc phát triển nhanh chóng trong lĩnh vực kinh doanh chuỗi cửa hàng
                tiện
                lợi theo giấy phép nhượng quyền thương hiệu của Circle K Mỹ. Circle K tự hào là chuỗi cửa hàng tiện lợi
                quốc
                tế đầu tiên tại Việt Nam.</p>

              <p style="text-align: justify;"><strong>Circle K Việt Nam</strong> hiện đã có hơn 300 cửa hàng tại các
                thành
                phố lớn như Hà Nội, Hạ Long, Hồ Chí Minh, Vũng Tàu, và sẽ còn tiếp tục phát triển để đáp ứng nhu cầu của
                khách hàng ở khắp mọi nơi.</p>

              <p style="text-align: justify;">Cam Kết Dịch Vụ của Circle K đối với khách hàng được gói gọn trong 4 chữ F
                (4Fs) (Tươi, Thân Thiện, Nhanh, và Đầy Đủ).</p>

              <p style="text-align: justify;">Circle K là một trong những đối tác quan trọng của <a
                  href="https://momo.vn/">Ví MoMo</a>. Hiện tại, khách hàng đã có thể <a
                  href="https://momo.vn/thanh-toan-momo-circlek">thanh toán bằng Ví MoMo</a> tại các cửa hàng của Circle
                K,
                góp phần làm cho việc thanh toán trở nên nhanh chóng và tiện lợi hơn bao giờ hết.</p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>




</div>