<div class="page">

  <a href="#" class="link back close-button">
    <img src="images/close.svg" alt="Close">
  </a>
  <div class="page-content">

    <div data-lazy='{"enabled": true}' data-pagination='{"el": ".swiper-pagination", "type" : "fraction", "hideOnClick": true}'
      class="swiper-container swiper-init htu-swiper">
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">

        <div class="swiper-slide">

          <div class="htu-content">
            <div class="htu-mockup">
              <div class="htu-mockup-slider" style="background-image: url('images/phone-mockup.png')">
                <img data-src="https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg" class="img-fluid d-block mx-auto swiper-lazy" alt="">
              </div>

              <div class="htu-mockup-txt">
                <h3 class="htu-mockup-title mt-0 mb-2">Tải ứng dụng Ví MoMo</h3>
                <div class="htu-mockup-body">
                  Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store hoặc Google Play Store.
                </div>

                <div class="mt-3  font-italic">
                  
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide">

          <div class="htu-content">
            <div class="htu-mockup">
              <div class="htu-mockup-slider" style="background-image: url('images/phone-mockup.png')">
                <img data-src="https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg" class="img-fluid d-block mx-auto swiper-lazy" alt="">
              </div>

              <div class="htu-mockup-txt">
                <h3 class="htu-mockup-title mt-0 mb-2">Nhập số điện thoại</h3>
                <div class="htu-mockup-body">
                  Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo.
                </div>

                <div class="mt-3  font-italic">
                  Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí Internet Banking của ngân hàng bạn muốn liên kết.
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide">

          <div class="htu-content">
            <div class="htu-mockup">
              <div class="htu-mockup-slider" style="background-image: url('images/phone-mockup.png')">
                <img data-src="https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg" class="img-fluid d-block mx-auto swiper-lazy" alt="">
              </div>

              <div class="htu-mockup-txt">
                <h3 class="htu-mockup-title mt-0 mb-2">Nhập mã xác thực </h3>
                <div class="htu-mockup-body">
                  Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của bạn. &lt;/br&gt; Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô &quot;Nhập mã xác thực&quot; rồi nhấn &quot;Tiếp tục&quot;.
                </div>

                <div class="mt-3  font-italic">
                  
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide">

          <div class="htu-content">
            <div class="htu-mockup">
              <div class="htu-mockup-slider" style="background-image: url('images/phone-mockup.png')">
                <img data-src="https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg" class="img-fluid d-block mx-auto swiper-lazy" alt="">
              </div>

              <div class="htu-mockup-txt">
                <h3 class="htu-mockup-title mt-0 mb-2">Tạo mật khẩu đăng nhập </h3>
                <div class="htu-mockup-body">
                  Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và mật khẩu ở 2 ô phải hoàn toàn giống nhau. &lt;/br&gt; 
Sau đó bấm &quot;Xác nhận&quot;.
                </div>

                <div class="mt-3  font-italic">
                  
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide">

          <div class="htu-content">
            <div class="htu-mockup">
              <div class="htu-mockup-slider" style="background-image: url('images/phone-mockup.png')">
                <img data-src="https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg" class="img-fluid d-block mx-auto swiper-lazy" alt="">
              </div>

              <div class="htu-mockup-txt">
                <h3 class="htu-mockup-title mt-0 mb-2">Nhập thông tin </h3>
                <div class="htu-mockup-body">
                  Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân theo yêu cầu và nhấn &quot;Xác nhận&quot; để hoàn tất đăng ký.
                </div>

                <div class="mt-3  font-italic">
                  
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>
    </div>



  </div>
</div>