<div class="page">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Quay lại</span>
        </a>
      </div>
      <div class="title">Tìm kiếm</div>
      <div class="subnavbar">
        <form data-search-container=".search-list" data-search-in=".item-title" class="searchbar searchbar-init">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Tìm kiếm" />
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Hủy</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="page-content bg-color-white ">

    <div class="searchbar-backdrop"></div>


    <div class="searchbar-hide-on-search">
      <div class="block">
        <h3>Popular Categories</h3>
        <ul class="popular-tags">
          <li><a href="#" class="link"><span>Hoàn tiền</span><i class="icon ion-ios-arrow-forward"></i></a></li>
          <li><a href="#" class="link"><span>Tiền điện</span><i class="icon ion-ios-arrow-forward"></i></a></li>
          <li><a href="#" class="link"><span>Circle K</span><i class="icon ion-ios-arrow-forward"></i></a></li>
          <li><a href="#" class="link"><span>Tiền nước</span><i class="icon ion-ios-arrow-forward"></i></a></li>
          <li><a href="#" class="link"><span>Tiền internet</span><i class="icon ion-ios-arrow-forward"></i></a></li>
          <li><a href="#" class="link"><span>Xem film</span><i class="icon ion-ios-arrow-forward"></i></a></li>
        </ul>
        <h3>Popular Tags</h3>
        <div class="list no-hairlines trending-search">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title"><a href="#" class="link">Ronaldo</a></div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title"><a href="#" class="link">Lil Wayne</a></div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title"><a href="#" class="link">Football</a></div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title"><a href="#" class="link">Lebron James</a></div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title"><a href="#" class="link">NBA</a></div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title"><a href="#" class="link">US Elections</a></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>



    <div class="list search-list search-show-type searchbar-found">
      <ul>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Momo hoàn tiền</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Audi</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">BMW</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Cadillac </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Chevrolet </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Chrysler </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Dodge </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Ferrari </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Ford </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">GMC </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Honda</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Hummer</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Hyundai</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Infiniti </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Isuzu </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Jaguar </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Jeep </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Kia</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Lamborghini </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Land Rover</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Lexus </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Lincoln </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Lotus </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Mazda</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Mercedes-Benz</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Mercury </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Mitsubishi</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Nissan </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Oldsmobile </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Peugeot </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Pontiac </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Porsche</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Regal</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Saab </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Saturn </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Subaru </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Suzuki </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Toyota</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Volkswagen</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Volvo</div>
          </div>
        </li>
      </ul>
    </div>
    
    <div class="search-notfound searchbar-not-found">
      Không tim thấy kết quả nào
    </div>


  </div>


</div>