<div class="page">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Quay lại</span>
        </a>
      </div>
      <div class="title">Tìm kiếm</div>
      <div class="subnavbar">

        <form data-search-container=".virtual-list" data-search-item="li" data-search-in=".item-title"
          class="searchbar searchbar-init">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Tìm kiếm" />
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">Hủy</span>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="searchbar-backdrop"></div>

  <div class="page-content bg-light">


    <div class="search-notfound searchbar-not-found">
      Không tim thấy kết quả nào
    </div>


    <div class=" virtual-list searchbar-found cashback-hori"></div>



  </div>
</div>