<div class="page">

  <a href="#" class="link back close-button">
    <img src="images/close.svg" alt="Close">
  </a>
  <div class="page-content">

    <div data-lazy='{"enabled": true}' data-pagination='{"el": ".swiper-pagination", "type" : "fraction", "hideOnClick": true}'
      class="swiper-container swiper-init htu-swiper">
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">

        {% for item in htuContent %}
        <div class="swiper-slide">

          <div class="htu-content">
            <div class="htu-mockup">
              <div class="htu-mockup-slider" style="background-image: url('images/phone-mockup.png')">
                <img data-src="{{item.image}}" class="img-fluid d-block mx-auto swiper-lazy" alt="">
              </div>

              <div class="htu-mockup-txt">
                <h3 class="htu-mockup-title mt-0 mb-2">{{item.title}}</h3>
                <div class="htu-mockup-body">
                  {{item.content}}
                </div>

                <div class="mt-3  font-italic">
                  {{item.note}}
                </div>

              </div>

            </div>
          </div>

        </div>

        {% endfor %}
      </div>
    </div>



  </div>
</div>