  <div class="page">


    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Bài viết</div>
      </div>
    </div>

    <div class="page-content single no-padding-top">


      <img class="cover-image" src="images/single-cover.jpg" alt="">
      <div class="block article">
        <div class="post-infos">
          <div class="post-category">Fashion</div>
          <div class="post-date">2 hours ago</div>
        </div>
        <h1>The Best Black Friday Fashion Deals</h1>
        <p><b>It starts tomorrow</b>, sit amet consectet adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p>Ex ea commodo conse, duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
        <img src="images/single-img-3.jpg" alt="">
        <p>Nullam ut ornare enim, at convallis nulla. Donec malesuada augue egestas, placerat nunc eu, convallis justo.
          Pellentesque non ultrices risus, non vehicula mauris cras.</p>
        <div class="image-with-text">
          <img src="images/single-img-2.jpg" alt="">
          <div class="image-text">New bag models presented durant the 2018 Fashion Week.</div>
        </div>
        <p>Fusce mollis sodales magna ut vulputa. Donec suscipit diam eu accumsan fermentum. Duis porta lorem vitae
          fringilla elementum.</p>
        <blockquote>
          Courageous people do not fear forgiving, for the sake of peace.<div class="quote-author">Nelson Mandela</div>
        </blockquote>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ut viverra
          libero, quis pharetra nisl.</p>
        <img src="images/single-img.jpg" alt="" class="full-width">
        <p><b>Lorem ipsum dolor sit amet, consect adipisicing elit sed</b> do eius mod nod tempor. incididunt ut labore
          et dolore laboris nisi ut aliquip ex ea commodo consequat sed do eiusmod tempor incididunt ut.</p>
        <p><b>Donec a dui mi</b> etiam ut lobortis orci, id molestie sapien. Nunc sit amet turpis tincidunt, vestibulum
          lectus a, convallis felis. Duis vel neque eleifend, aliquam arcu vitae, fermentum dolor.</p>
        <a href="https://www.amazon.com/" target="_blank" class="link link-block external">
          <div class="link-infos">
            <div class="link-title">Buy this product on Amazon</div>
            <div class="link-url">www.amazon.com</div>
          </div>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="block">

        <div class="author-block">
          <a href="https://xioyuna.com/author/" class="link">
            <img src="images/author-3.jpg" alt="">
            <div class="author-infos">
              <div class="author-name">Jess Roxana</div>
              <div class="author-description">Sports &amp; Fashion Journalist</div>
            </div>
          </a>
        </div>

        <div class="title-medium-container">
          <h2>Share This Post</h2>
        </div>
        <div class="social-buttons">
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themeforest.net" target="_blank"
            class="big-button link facebook external"><i class="icon ion-logo-facebook"></i>Facebook</a>
          <a href="http://twitter.com/share?text=Welcome%20To%20Yui&amp;url=http://themeforest.net&amp;hashtags=template,mobile"
            target="_blank" class="big-button link twitter external"><i class="icon ion-logo-twitter"></i>Twitter</a>
        </div>
        <div class="title-medium-container">
          <h2>Related Posts</h2>
        </div>
      </div>
    

      <div class="block">
        <div class="title-medium-container">
          <h2>Comments</h2>
        </div>

        <div class="list media-list comment-list no-hairlines">
          <ul>
            <li>
              <a href="https://xioyuna.com/envato/yui/demo/Yui/pages/single.html#" class="item item-content">
                <div class="item-media"><img src="images/author-7.jpg" alt=""></div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Elena Anka</div>
                    <div class="item-after"><i class="icon ion-ios-heart"></i>27</div>
                  </div>
                  <div class="item-text">Ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut
                    turpis condimentum, ut dignissim lacus tincidunt.</div>
                </div>
              </a>
            </li>
            <li>
              <a href="https://xioyuna.com/envato/yui/demo/Yui/pages/single.html#" class="item item-content">
                <div class="item-media"><img src="images/author-2.jpg" alt=""></div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Zorka Ivka</div>
                    <div class="item-after"><i class="icon ion-ios-heart"></i>12</div>
                  </div>
                  <div class="item-text">Lorem ipsum dolor sit amet, consectetur.</div>
                </div>
              </a>
            </li>
            <li>
              <a href="https://xioyuna.com/envato/yui/demo/Yui/pages/single.html#" class="item item-content">
                <div class="item-media"><img src="images/author-1.jpg" alt=""></div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Camille Aline</div>
                    <div class="item-after"><i class="icon ion-ios-heart"></i>8</div>
                  </div>
                  <div class="item-text">Consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum.</div>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="title-medium-container title-small">
          <h2>New Comment</h2>
        </div>

        <div class="list no-hairlines custom-form">
          <ul>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-input-wrap">
                  <input type="text" placeholder="Name">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-input-wrap">
                  <input type="email" placeholder="E-mail">
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-input-wrap">
                  <textarea class="resizable" placeholder="Comment"></textarea>
                  <span class="input-clear-button"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <a class="big-button button button-fill link"><i class="icon ion-ios-send"></i>Post Comment</a>
      </div>
    </div>
  </div>
