

.izlude-avatar-square {
  width: 80px;
  height: 80px;
  padding: 3px;
  border-radius: 5px;
  background: white;
  @extend .shadow-1;
  border: 1px solid gray("300")
}




.izlude-avatar-square-md {
  width: 52px;
  height: 52px;
  padding: 1px;
  border-radius: 3px;
  background: white;
  @extend .shadow-1;
  border: 1px solid gray("200")
}

p{
  margin: 0 0 1rem 0;
}

.izlude-cbs-sale strong {
  
  font-size: 1.1em;
  display: block
}

.izlude-cbs-sale br {
  display: none;
  clear: both
}

.izlude-cbs-sale div {
  margin-bottom: 5px
}