.lutie-article-title{
    font-size: 20px;
}

.lutie-article-sub{
    color: gray("800");
    font-size: 12px;
}

.lutie-article-meta{
    color: gray("600");
    font-size: 13px;
}


.lutie-section-title{
    font-weight: bold;
    padding: 5px 16px 0;
    margin-bottom: 0;

}

.text-momo{
    color: $color-momo;
}

.text-gray{
    color: gray("500");
}

.lutie-inherit{
    font-size: inherit;
}

.lutie-12 { font-size: 12px }
.lutie-13 { font-size: 13px }
.lutie-14 { font-size: 14px }
.lutie-16 { font-size: 16px }
.lutie-18 { font-size: 18px }
.lutie-22 { font-size: 22px }
.lutie-25 { font-size: 25px }
.lutie-29 { font-size: 29px }
.lutie-50 { font-size: 50px }

.border-lightgray{
    border-color: gray("200");
}
