.payon-inline{
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

.payon-inline-item{
  display: inline-block;
}

.payon-inline-item:not(:last-child) {
  margin-right: .5rem;
}