$pron-spacing: 15px;

$pron-gutter : 16;

.pron {
  padding: $pron-spacing;
}

.pron-container {
  width: 100%;
  padding-right: #{$pron-gutter/2}px;
  padding-left: #{$pron-gutter/2}px;
  margin-right: auto;
  margin-left: auto;

  &.balance{
    padding-right: #{$pron-gutter}px;
    padding-left:  #{$pron-gutter}px;
  }
}

.pron-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -#{$pron-gutter/2}px;
  margin-left: -#{$pron-gutter/2}px;


}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .pron-col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.pron-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;

  position: relative;
  width: 100%;
  padding-right: #{$pron-gutter/2}px;
  padding-left: #{$pron-gutter/2}px;

  &.auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}


