<div class="navbar">
    <div class="navbar-inner">

        <div class="left">
            <div class="momo-logo">
                <img src="https://static.mservice.io/img/logo-momo.png" width="40" height="40" />
            </div>
        </div>
  
        <div class="searchbar searchbar-inline sliding navbar-search">
            <a href="/momo-search/" class="link-absolute"></a>
            <div class="searchbar-input-wrap">
                <input type="search" placeholder="Bạn tìm gì ...">
                <i class="searchbar-icon"></i>
                <span class="input-clear-button"></span>
            </div>
        </div>


        <div class="right">
            <a href="#" class="link icon-only panel-open navbar-bar" data-panel="left">
                <i class="icon f7-icons if-not-md">bars</i>
                <i class="icon material-icons md-only">bars</i>
            </a>
        </div>


    </div>
</div>