<!-- Popup -->
<div class="popup" id="my-popup">
    <div class="view">
        <div class="page">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="title">Popup</div>
                    <div class="right">
                        <a href="#" class="link popup-close">Close</a>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="block">
                    <p>Popup content goes here.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="popup cashback-popup-swipe-handler swipe-close-to-bottom">
    <div class="page">
        <div class="swipe-handler"></div>
        <div class="page-content">


            <div class="block-title block-title-momo">Danh mục hoàn tiền</div>


            <div class="list list-small ">
                <ul>
                    {% for item in cashbackCat %}
                    <li>
                        <label class="item-radio  item-content">
                            <input type="radio" name="cashback-media-radio" value="1" checked />
                            <i class="icon icon-radio" checked></i>

                            <div class="item-media">
                                <img src="{{item.img}}" class="" width="28" alt="">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">{{item.title}}</div>
                            </div>
                        </label>



                    </li>

                    {%  endfor %}

                </ul>
            </div>

        </div>
    </div>
</div>

<div class="popover popover-reviewstar">
    <div class="popover-inner">
        <div class="list">
            <ul>
                <li><a class="list-button popover-close" href="#">1 Sao <small>(Rất tệ)</small></a></li>
                <li><a class="list-button popover-close" href="#">2 Sao <small>(Tệ)</small></a></li>
                <li><a class="list-button popover-close" href="#">3 Sao <small>(Tạm được)</small></a></li>
                <li><a class="list-button popover-close" href="#">4 Sao <small>(Tốt)</small></a></li>
                <li><a class="list-button popover-close" href="#">5 Sao <small>(Rất tốt)</small></a></li>
            </ul>
        </div>
    </div>
</div>