<!-- Left panel with cover effect-->
<div class="panel panel-left panel-cover ">
    <div class="view">
        <div class="page">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="title">Danh mục</div>
                </div>
            </div>
            <div class="page-content ">


                <div class="list m-0 momo-sidebar-cat">
                    <ul>
                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">
                                    <svg class="svg-inline svg ">
                                        <use xlink:href="svg/svg.svg#svg-pig-cashback"></use>
                                    </svg>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Hoàn tiền</div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">
                                    <svg class="svg-inline svg ">
                                        <use xlink:href="svg/svg.svg#svg-momo-logo"></use>
                                    </svg>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Giới thiệu</div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">
                                    <svg class="svg-inline svg ">
                                        <use xlink:href="svg/svg.svg#svg-note"></use>
                                    </svg>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Tin tức</div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">
                                    <svg class="svg-inline svg ">
                                        <use xlink:href="svg/svg.svg#svg-money-question"></use>
                                    </svg>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Hỏi đáp</div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">
                                    <svg class="svg-inline svg ">
                                        <use xlink:href="svg/svg.svg#svg-momo-hand"></use>
                                    </svg>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Hướng dẫn</div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">
                                    <svg class="svg-inline svg ">
                                        <use xlink:href="svg/svg.svg#svg-handshake"></use>
                                    </svg>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Tuyển dụng</div>
                                </div>
                            </a>
                        </li>



                        <li>
                            <a href="#" class="item-link item-content">
                                <div class="item-media">
                                    <svg class="svg-inline svg ">
                                        <use xlink:href="svg/svg.svg#svg-support"></use>
                                    </svg>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Liên hệ</div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>


                <div class="block-title">Hỗ trợ</div>

                <div class="block">
                    <ul class="list-normal">
                        <li>
                            Hot line : <a href="tel: 1900 5454 41" class="has-text-weight-bold is-size-5">1900 54 54</a>
                        </li>

                        <li>

                            Tổng đài gọi ra : <a href="tel:028.7306.5555">028.7306.5555</a>
                        </li>
                        <li>

                            Chăm sóc khách hàng :

                            <a class="" href="mailto: hotro@momo.vn"> hotro@momo.vn </a>
                        </li>
                    </ul>
                </div>

                <div class="block-title"> Tải ứng dụng</div>

                <div class="block">

                    <div class="row no-gap">
                        <!-- Each "cell" has col-[width in percents] class -->
                        <div class="col-50">
                            <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                class="link-white" target="_blank">

                                <img alt="A view of the sea" src="https://static.mservice.io/img/tai-appstore.png"
                                    width="130" height="39" class="img-fluid"/>
                            </a>
                        </div>
                        <div class="col-50">
                            <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                                class="link-white" target="_blank">

                                <img alt="A view of the sea" src="https://static.mservice.io/img/tai-google-play.png"
                                    width="130" height="39" class="img-fluid">

                            </a>
                        </div>
                    </div>

                </div>




                <div class="block">
                    <ul class="list-normal">
                        <li>
                            <div class="text-capitalize has-text-weight-bold">
                                Công ty cổ phần dịch vụ
                                di động trực tuyến (Viết tắt M_SERVICE)
                            </div>
                        </li>
                        <li>
                            <div class="text-color-gray">
                                Lầu M, Toà nhà Petroland, 12 Tân Trào, P. Tân Phú,
                                Q.7, Tp. Hồ Chí Minh
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Right panel with reveal effect-->
<div class="panel panel-right panel-reveal theme-dark">
    <div class="view">
        <div class="page">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="title">Right Panel</div>
                </div>
            </div>
            <div class="page-content">
                <div class="block">Right panel content goes here</div>
            </div>
        </div>
    </div>
</div>