<div class="page" data-name="home">


  <div class="navbar">
    <div class="navbar-inner">

      <div class="left">
        <div class="momo-logo">
          <img src="https://static.mservice.io/img/logo-momo.png" width="40" height="40" />
        </div>
      </div>

      <div class="searchbar searchbar-inline sliding navbar-search">
        <a href="/momo-search/" class="link-absolute"></a>
        <div class="searchbar-input-wrap">
          <input type="search" placeholder="Bạn tìm gì ...">
          <i class="searchbar-icon"></i>
          <span class="input-clear-button"></span>
        </div>
      </div>


      <div class="right">
        <a href="#" class="link icon-only panel-open navbar-bar" data-panel="left">
          <i class="icon f7-icons if-not-md">bars</i>
          <i class="icon material-icons md-only">bars</i>
        </a>
      </div>


    </div>
  </div>




  <div class="page-content">
    <div data-pagination='{"el": ".swiper-pagination"}' data-lazy='{"enabled": true}' data-space-between="0"
      class="swiper-container swiper-init home-slider">
      <div class="swiper-pagination swiper-pagination-white"></div>
      <div class="swiper-wrapper">

        <div class="swiper-slide">

          <div class="embed-responsive embed-responsive-slider">
            <img
              data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190804210617-637005495777805964.jpg"
              class="swiper-lazy embed-responsive-img" />
            <div class="preloader swiper-lazy-preloader"></div>
          </div>


        </div>

        <div class="swiper-slide">

          <div class="embed-responsive embed-responsive-slider">
            <img data-src="https://static.mservice.io/banner/s780x297/nguyen%20kim.jpg"
              class="swiper-lazy embed-responsive-img" />
            <div class="preloader swiper-lazy-preloader"></div>
          </div>

        </div>

        <div class="swiper-slide">

          <div class="embed-responsive embed-responsive-slider">
            <img data-src="https://static.mservice.io/banner/s780x297/cover-ve-may-bay.jpg"
              class="swiper-lazy embed-responsive-img" />
            <div class="preloader swiper-lazy-preloader"></div>
          </div>

        </div>

        <div class="swiper-slide">

          <div class="embed-responsive embed-responsive-slider">
            <img
              data-src="https://static.mservice.io/banner/s780x297/momo-upload-api-190701155052-636975930528854873.jpg"
              class="swiper-lazy embed-responsive-img" />
            <div class="preloader swiper-lazy-preloader"></div>
          </div>

        </div>



      </div>
    </div>



    <div class="home-cashback">

      <div class="cashback-search-container">

        <div class="cashback-search text-truncate">
          <a href="#" class="link-absolute popup-open" data-popup=".cashback-popup-swipe-handler"></a>

          <img src="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png" class="cashback-search-icon"
            width="30" alt="">


          Cửa hàng tiện lợi - hoàn tiền đến
          <strong class="text-danger">5%</strong>
        </div>

        <div class="cashback-search-btn">
          <a href="/cashback-search/" class="link-absolute"></a>
          <i class="icon f7-icons if-not-md">search</i>
        </div>

      </div>

      <div class="block-title block-title-momo">Cửa hàng tiện lợi Hoàn tiền đến <strong class="text-danger">5%</strong>
      </div>


      <div class="cashback-grid">
        <div class="cashback-item">
          <a href="/cashback-single/" class="link-absolute"></a>
          <div class="cashback-item-img">

            <div class="cashback-item-label">
              <img src="images/cashback/icon-cashback.png" width="15" alt=""> <span>45%</span>
            </div>

            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190727104525-636998211253642438.jpg"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cashback-item-content">
            <h4 class="name text-primary">
              Co.op Smile
            </h4>
            <div class="desc">
              Chuỗi cửa hàng
              bách hoá hiện đại
            </div>
          </div>
        </div>


        <div class="cashback-item">
          <a href="/cashback-single/" class="link-absolute"></a>
          <div class="cashback-item-img">
            <div class="cashback-item-label">
              <img src="images/cashback/icon-cashback.png" width="15" alt=""> <span>10%</span>
            </div>



            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190610163325-636957812055724497.jpg"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cashback-item-content">
            <h4 class="name text-primary">
              Circle K
            </h4>
            <div class="desc">
              Chuỗi cửa hàng
              tiện lợi mở 24/7
            </div>
          </div>
        </div>

        <div class="cashback-item">
          <a href="/cashback-single/" class="link-absolute"></a>
          <div class="cashback-item-img">

            <div class="cashback-item-label">
              <img src="images/cashback/icon-cashback.png" width="15" alt=""> <span>45%</span>
            </div>

            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190727104525-636998211253642438.jpg"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cashback-item-content">
            <h4 class="name text-primary">
              Co.op Smile
            </h4>
            <div class="desc">
              Chuỗi cửa hàng
              bách hoá hiện đại
            </div>
          </div>
        </div>


        <div class="cashback-item">
          <a href="/cashback-single/" class="link-absolute"></a>
          <div class="cashback-item-img">
            <div class="cashback-item-label">
              <img src="images/cashback/icon-cashback.png" width="15" alt=""> <span>10%</span>
            </div>



            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190610163325-636957812055724497.jpg"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cashback-item-content">
            <h4 class="name text-primary">
              Circle K
            </h4>
            <div class="desc">
              Chuỗi cửa hàng
              tiện lợi mở 24/7
            </div>
          </div>
        </div>



      </div>

      <div class="block-title block-title-momo">Thương hiệu khác</div>

      <div class="cashback-hori">
        <div class="cashback-hori-item">
          <a href="/cashback-single/" class="link-absolute"></a>
          <div class="cashback-hori-img">
            <div class="embed-responsive embed-responsive-1by1">
              <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_BaskinRobins.png"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cashback-hori-content">

            <div class="name text-truncate">
              Baskin Robbins
            </div>

            <div class="desc text-truncate">
              Tiệm kem Baskin Robbins
            </div>

          </div>

          <div class="cashback-hori-value">
            <div class="cashback-hori-number flex-center text-center">
              <div>
                Hoàn
                <span class="d-block font-weight-bold">47%</span>
              </div>
            </div>
          </div>
        </div>

        <div class="cashback-hori-item">
          <a href="/cashback-single/" class="link-absolute"></a>
          <div class="cashback-hori-img">
            <div class="embed-responsive embed-responsive-1by1">
              <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/icon/Cashback_BaskinRobins.png"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cashback-hori-content">

            <div class="name text-truncate">
              Baskin Robbins
            </div>

            <div class="desc text-truncate">
              Tiệm kem Baskin Robbins
            </div>

          </div>

          <div class="cashback-hori-value">
            <div class="cashback-hori-number flex-center text-center">
              <div>
                Hoàn
                <span class="d-block font-weight-bold">47%</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


</div>